#root{
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

/*font*/

@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
}

/*navbar*/

.logo{
  width: 8rem;
}

.navTag{
  padding: 3rem;
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px rgba(0, 0, 0, 0.063) solid;
}

.navItemTag{
  padding-left: 1rem;
  padding-right: 1rem;
}

.linkHome{
  text-decoration: none;
  color :rgb(56, 56, 56);
}

.linkHome:hover{
  color: black;
}

.loginButton{
  text-decoration: none;
}


/*end of navbar*/

.footer{
  background-color: rgb(33, 33, 33);
  color: rgb(201, 201, 201);
}

.headerFooter{
  text-align: center;
}

/*style card produk*/

.tagCard{
  border: none;
  border-color: rgba(255, 255, 255, 0);
}

.productName{
  text-decoration: none;
  color: rgb(56, 56, 56);
}

.productName:hover{
  transition: 1s;
  color: rgb(0, 0, 0);
}

/*detail produk*/

.headerTextDetail{
  font-size: 4rem;
}

.brandClassName{
  color: rgba(112, 112, 112, 0.871);
  margin-bottom: 3rem;
}

.iconSocmedProduct{
  display: block;
  height: 50px;
  margin: auto;
}

/*catalogue*/

.headerCatalogue{
  font-weight: bold;
}

/*about*/

.aboutBody{
  height: 100%;
  display: flex;
}

/*help*/

.waHelp{
  font-size: 25px;
}